{% extends "layout.html" %}

{% block body %}

<div class="row">
  <div class="col-3">
    <h1>Threads</h1>
  </div>
  <div class="col">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Filter
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{{ url_for('threads_index') }}">All</a>
        {% for category in categories %}
        <a class="dropdown-item" href="{{ url_for('threads_by_category', category_name=category.name) }}">{{category.name}}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<table>
  {% for thread in threads %}
  <tr>
    <td>
      <h5>
        <a href="{{ url_for('thread_show', thread_id=thread.id) }}">{{thread.title}}</a>
        [{{thread.category_name}}]
      </h5>
      <p>Kirjoittaja:
        <a href="{{ url_for('user_profile', user_id=thread.account_id) }}">{{thread.creator}}</a>
      </p>
    </td>
  </tr>
  {% endfor %}
</table>


{% endblock %}