{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('threads_create') }}">
    <div class="form-group">
        <p>{{ form.title.label }}</p>
        <p>{{ form.title }}</p>
        <ul>
            {% for error in form.title.errors %}
            <li>
                {{error}}
            </li>
            {% endfor %}
        </ul>
        <p>{{ form.text.label }}</p>
        <p>{{ form.text }}</p>
        <ul>
            {% for error in form.text.errors %}
            <li>
                {{error}}
            </li>
            {% endfor %}
        </ul>
        <p>{{ form.category.label }}</p>
        <p>{{ form.category }}</p>
        <ul>
            {% for error in form.category.errors %}
            <li>
                {{error}}
            </li>
            {% endfor %}
        </ul>
    </div>
    <button type="submit">Add a new thread</button>
</form>
{% endblock %}

