{% extends "layout.html" %}

{% block body %}
  <h2>{{thread.title}}</h2>
  <p>Kirjoittaja: {{thread.creator}}</p>
  <p>{{thread.text}}</p>

  {% if current_user.id == thread.account_id %}
  <form method="POST" action="{{ url_for('thread_delete', thread_id=thread.id) }}">
    <div class="form-group">
      <button type="submit">Poista lanka</button>
    </div>
  </form>

  <form method="POST" action="{{ url_for('thread_edit', thread_id=thread.id) }}">
    <div class="form-group">
      <p>{{ form.text.label }}</p>
      <p>{{ form.text(value=thread.text) }}</p>
      <ul>
        {% for error in form.text.errors %}
        <li>
          {{ error }}
        </li>
        {% endfor %}
      </ul>
      <button type="submit">Muokkaa langan sisältöä</button>
    </div>
  </form>
  {% endif %}
  
  <h3>Comments</h3>

  <form method="POST" action="{{ url_for('comment_post', thread_id=thread.id) }}">
    <div class="form-group">
      {{ commentForm.text.label }}
      {{ commentForm.text }}
      <ul>
        {% for error in commentForm.text.errors %}
        <li>
          {{ error }}
        </li>
        {% endfor %}
      </ul>
      <button type="submit">Lisää kommentti</button>
    </div>
  </form>


  <table>
    {% for comment in comments %}
    <tr>
      <td>
        {{comment.creator}}:
      </td>
      <td>
        {{comment.text}}
      </td>
    </tr>
    {% if current_user.id == comment.account_id or current_user.role == "ADMIN" %}
    <tr>
      <td colspan="2">
        <form method="POST" action="{{ url_for('comment_delete', comment_id=comment.id) }}">
          <button type="submit">Poista kommentti</button>
        </form>        
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>

{% endblock %}